<header>
  <nav>
    <div class="navbar">
      <a class="active" href="#"><i class="fa fa-fw fa-list"></i></a>
      <a href="#"><i class="fa fa-fw fa-phone"></i> <%= phone %></a>
      <a href="#"><i class="fa fa-fw fa-home"></i> <%= address %></a>
      <a href="#"><i class="fa fa-fw fa-user"></i> Logged In as: <%= name %> </a>
    </div>
  </nav>
</header>
