<!DOCTYPE html>

<head>
  <title>Menu</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/menu-page.css" />
  <link rel="stylesheet" href="/styles/helpers.css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Domine&family=Noto+Sans:wght@200;300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  <!-- <link rel="stylesheet" href="/styles/header.css" type="text/css" /> -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="/scripts/order_items.js"></script>
  <script type="text/javascript" src="/scripts/amount.js"></script>
  
</head>

<body class="page-body">
  <%- include('partials/_header') %>
  <div id="my-background"></div>
  <div id="menu-page">
  <main>
    <h1 class="main-page__greeting">Hi,
      <br>What is on your mind today?</h1>
    <section class="menu-list">
      <h2 class="visually-hidden">Menu list</h2>
    </section>
      <script src="menu-render.js"></script>
    </div>
    </div>
<button type="submit" id="checkout">checkout</button>
    <div class="menu">
      <h2>Menu</h2>
      <article>
  
        <h3>Appetizers</h3>
        <div class="appetizers">
        <label for="fries">fries <button type="submit" class="add" id="fries">add</button></label>
        <label for="nuggets">chicken nuggets <button class="add" id="chicken nuggets">add</button></label>
      </div>
        <h3>Meals</h3>
        <div class="meals">
        <label for="burger">burger combo <button class="add" id="burger combo">add</button></label>
        <label for="nuggets">chicken nuggets combo <button class="add" id="chicken nuggets combo">add</button></label>
      </div>
        <h3>Drinks</h3>
        <div class="drinks">
        <label for="fries">coke <button  class="add" id="coke">add</button></label>
        <label for="nuggets">sprite <button  class="add" id="sprite">add</button></label>
      </div>
      </article>
      <script src="menu-render.js"></script>
    </div>

  </main>
  </div>
</body>





</html>