<!DOCTYPE html>
<head>
  <title>Restaurant Order</title>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- <link rel="stylesheet" href="/styles/header.css" type="text/css" /> -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/order_items.js"></script>
  <script type="text/javascript" src="/scripts/amount.js"></script>
</head>

<body>



    <form action="/order" class="placeorder" method="post">
      <h1>You Have Received A New Order For</hi>
      <hi>user.name</h1>

      <table>
        <thead>
          <tr class="table">
            <td>
              <h2>Quantity</h2>
            </td>
            <td>
              <h2>Food Items</h2>
            </td>
            <td>
              <h2>Price</h2>
            </td>
          </tr>
        </thead>
      <div class="note">
        <h3>Please specify how long to complete the order</h3>
        <h4>(Please keep the service time below 20 minutes to maintain your restaurant rating)</h4>>
        <select name="time">
          <option value="0">Select time:</option>
          <option value="10">10 minutes</option>
          <option value="12">12 minutes</option>
          <option value="14">14 minutes</option>
          <option value="16">16 minutes</option>
          <option value="18">18 minutes</option>
          <option value="20">20 minutes</option>
        </select>
      </div>
      <div class="receipt">
        <div class="total subtotals">
          <text>Subtotal</text>
          <span class="subtotal"></span>
        </div>
        <div class="total taxes">
          <text>Tax</text>
          <span class="tax"></span>
        </div>
        <div class="total totals">
          <text>Total</text>
          <span class="total_amount"></span>
        </div>
      </div>
      <button class="confirm" type="submit">Confirm Order</button>
    </form>
  </body>





</html>
