<!DOCTYPE html>
<head>
  <title>Thank You</title>
  </head>

  <body>
    <div class="wrapper">
          <h1 class="thank">Thank you!</h1>
          <p>Your order has been completed!</p>
          <p>you should receive a message from us soon!</p>
          <button type="submit">
          Back to the Main Page
          </button>
        </form>
        </div>
    </div>
    </div>
  </body>
</html>
