#my-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("/img/restaurant.jpeg");
  background-size: cover;
}

#menu-page {
  min-height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  min-width: 960px;
  padding: 120px;
  opacity: 1;
}


.main-page__greeting {
  font-family: 'Domine', serif;
  font-size: 70px;
}


.appetizers {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}
.meals {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}
.drinks {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.add {
  display: flex;
  align-items: end;
  flex-direction: row;
}